- hosts: all
  tasks:
    - name: List files using the relative search
      find:
        # We go up two levels from the playbook to find the root of the repo
        paths: "{{ playbook_dir }}/../../testrepo"
      register: repo_files
      delegate_to: localhost
      ignore_errors: yes

    - name: Show me the files
      debug:
        msg: "I found these files: {{ repo_files.files | map(attribute='path') | map('basename') | list }}"

    - name: Ensure README.md is GONE
      stat:
        path: "{{ playbook_dir }}/../../testrepo/README.md"
      register: old_readme
      delegate_to: localhost

    - name: Check for the new README.txt
      stat:
        path: "{{ playbook_dir }}/../../testrepo/README.txt"
      register: new_readme
      delegate_to: localhost

    - name: Success Wait
      command: sleep 10
      # We removed the 'fail' task temporarily so you can see the list!
