- hosts: all
  tasks:
    - name: Search for README.md in the workspace
      shell: "find {{ zuul.executor.work_root }}/src -name 'README.md'"
      register: find_readme
      delegate_to: localhost
      ignore_errors: yes

    - name: Show the results
      debug:
        msg: 
          - "Search complete."
          - "Found at: {{ find_readme.stdout if find_readme.stdout != '' else 'NOTHING FOUND' }}"

    - name: Final Success Wait
      command: sleep 10
