- hosts: all
  tasks:
    - name: List all files in the repository
      find:
        paths: "{{ zuul.project.src_dir }}"
      register: repo_files

    - name: Show me the files Zuul actually sees
      debug:
        msg: "I found these files: {{ repo_files.files | map(attribute='path') | map('basename') | list }}"

    - name: Success Wait
      command: sleep 10
