- hosts: all
  tasks:
    - name: Search for README.md
      shell: "find {{ zuul.executor.work_root }}/src -name 'README.md'"
      register: find_readme
      delegate_to: localhost

    - name: Fail if README.md is missing
      fail:
        msg: "GATE KEEPER: README.md is missing. This PR is not allowed!"
      when: find_readme.stdout == ""

    - name: Success message
      debug:
        msg: "README.md found at {{ find_readme.stdout }}. All systems go!"

    - name: Success Wait
      command: sleep 10
