- hosts: all
  tasks:
    - name: Check if README.md exists
      stat:
        path: "{{ zuul.project.src_dir }}/README.md"
      register: readme_file
      delegate_to: localhost

    - name: Fail if README.md is missing
      fail:
        msg: "ERROR: README.md was not found in the repository!"
      when: not readme_file.stat.exists

    - name: Success Wait
      command: sleep 10
