- hosts: all
  tasks:
    - name: Find the actual location of the project
      command: "find /home/zuul/zuul-output/src -name 'hehe.txt'"
      register: find_result
      delegate_to: localhost
      ignore_errors: yes

    - name: Show the path discovered
      debug:
        msg: "The file was found at: {{ find_result.stdout }}"

    - name: List EVERYTHING in the Zuul src directory
      shell: "ls -R /home/zuul/zuul-output/src"
      register: full_ls
      delegate_to: localhost

    - name: Print the full directory tree
      debug:
        var: full_ls.stdout_lines

    - name: Success Wait
      command: sleep 10
